@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;
@plugin "daisyui";

:root {
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}

/* Base styles */
body {
  font-family: var(--font-geist-sans);
}
